<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APPVCM"
        tools:targetApi="31">
        <activity
            android:name=".competition.puestoActivity"
            android:exported="false" />
        <activity
            android:name=".competition.toureliminacionActivity"
            android:exported="false" />
        <activity
            android:name=".competition.sorteofaseActivity"
            android:exported="false" />
        <activity
            android:name=".competition.numerojugadoresActivity"
            android:exported="false" />
        <activity
            android:name=".player.PlayerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".competition.tournamentActivity"
            android:exported="false"
            android:theme="@style/Theme.APPVCM.NoActionBar" />
        <activity
            android:name=".competition.InscripcionParticipantesActivity"
            android:exported="false"
            android:label="Inscripcion de Jugadores" />
        <activity
            android:name=".player.EditPlayerActivity"
            android:exported="false"
            android:label="Gestion de jugadores" />
        <activity
            android:name=".player.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gestion_jugadores"
            android:exported="false" />
        <activity
            android:name=".competition.enlinea"
            android:label="En Linea"
            android:exported="false" />
        <activity
            android:name=".competition.zonas"
            android:label="Zonas"
            android:exported="false" />
        <activity
            android:name=".competition.puntajes"
            android:label="Puntajes"
            android:exported="false" />
        <activity
            android:name=".competition.ida_vuelta"
            android:exported="false" />
        <activity
            android:name=".competition.campeonatonombre"
            android:label="Nueva de Competencia"
            android:exported="false" />
        <activity
            android:name=".competition.nueva_competencia"
            android:label="Nueva de Competencia"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.APPVCM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>